# resource_extra: keep only zxcc-debian as tracked content
resource_extra/*
!resource_extra/zxcc/
resource_extra/zxcc/*
!resource_extra/zxcc/zxcc-debian/

# ignore only PNG files in repository root
/*.png
